@media (max-width:900px) {
    .hero {
        flex-direction: column;
    }

    .about {
        flex-direction: column;
    }

    .value {
        flex-direction: column;
    }

    .solution {
        flex-direction: column;
    }

    .logo {
        width: 100%;
        height: auto;
        text-align: center;
    }
}



/* For smaller screens, use full-width without padding */
@media (min-width: 1500px) {

    .navbar,
    .body,
    .section,
    .hero,
    .approvals,
    .solution,
    .value,
    .fun-facts,
    .about,
    .testimonials,
    .loan-steps {
        max-width: 100%;
        padding-left: 200px !important;
        padding-right: 200px !important;
    }
}


@media (max-width: 900px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-img {
        order: -1;
        margin-bottom: 30px;
    }

    .nav {
        display: block;
        text-align: center;
    }

    .nav-item {
        margin: 8px 0;
    }
}

@media (min-width: 992px) {
    .display-5 {
        font-size: 3.25rem;
    }
}



@media (min-width: 768px) {
  .custom-border-dark {
    border-right: 1px solid #222 !important;
  }
  .approvals{
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/* ===== Responsive Adjustments ===== */
@media (max-width: 991.98px) {
    .blog-section {
        padding-bottom: 120px;
    }

    .blog-spacer {
        height: 10px;
    }
}

@media (max-width: 767.98px) {
    .blog-section {
        padding-top: 40px;
        padding-bottom: 100px;
    }

    .blog-title {
        font-size: 1.5rem;
    }

    .blog-description {
        font-size: 0.9rem;
    }

    .blog-post-title {
        font-size: 1rem;
    }
}

@media (max-width: 767.98px) {
    .step-number {
        left: -38px;
    }

    .loan-step-wrapper {
        padding-left: 25px;
        margin-left: 15px;
    }

    .loan-rate-form {
        padding: 20px;
    }

    .loan-title {
        font-size: 1.6rem;
    }

    .loan-rate-form h3 {
        font-size: 1.3rem;
    }
}

@media (max-width: 768px) {
    .loan-block-container {
        padding-left: 20px;
        padding-right: 20px;
    }
}