@media (max-width:900px) {
    .hero {
        flex-direction: column;
    }

    .about {
        flex-direction: column;
    }

    .value {
        flex-direction: column;
    }

    .solution {
        flex-direction: column;
    }

    .logo {
        width: 100%;
        height: auto;
        text-align: center;
    }
}



/* For smaller screens, use full-width without padding */
@media (min-width: 1500px) {

    .navbar,
    .body,
    .section,
    .hero,
    .approvals,
    .solution,
    .value,
    .fun-facts,
    .about,
    .testimonials,
    .loan-steps {
        max-width: 100%;
        padding-left: 200px !important;
        padding-right: 200px !important;
    }
}


@media (max-width: 900px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-img {
        order: -1;
        margin-bottom: 30px;
    }

    .nav {
        display: block;
        text-align: center;
    }

    .nav-item {
        margin: 8px 0;
    }
}

@media (min-width: 992px) {
    .display-5 {
        font-size: 3.25rem;
    }
}



@media (min-width: 768px) {
  .custom-border-dark {
    border-right: 1px solid #222 !important;
  }
  .approvals{
    padding-top: 20px;
    padding-bottom: 20px;
  }
}